.container {
    width: 80%;
    margin: auto;
    padding-top: 1rem;
}

.input-grp  select,.input-grp input {
    display: inline-block;
    float: right;
    width: 30%;
}

.one {
    position: relative;
    height: 56px;
    margin: 0 1rem;
}

.tooltip {
    display: inline;
}

.tooltip .tooltiptext {
    display: none;
    width: 170px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 60px;
    margin-left: -60px;
}

  
.tooltip:hover .tooltiptext {
    display: inline;
}


.nav-btn {
    width: 100%;
    position: relative;
    top: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next, .previous {
    cursor: pointer;
    width: 100px;
    text-align: center;
    padding: 0.3rem 1rem;
    background-color: #cb4c1f;
}

.next > a,.previous > a{
    color: white;
    text-decoration: none;
}

.form-head {
    font-weight: 600;
    color: #132c51;
    margin: 1rem 0;
}

.tooltip-submit {
    bottom:  80px !important;
    width: 240px !important;
}

.disabledCursor {
    background-color: #ccc !important;
}
